doctype
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Craigslistthing
  body
    ul#listings
  script(src='lib/jquery.js')
  script(src='lib/geolib.js')
  script(src='lib/moment.js')
  script(src='ajax.js')
