doctype
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Craigslistthing
  body
    ul#listings
  script(src="http://www.mapquestapi.com/sdk/js/v7.0.s/mqa.toolkit.js?key=Fmjtd%7Cluur210blu%2Cb0%3Do5-90yxua")
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
  script(src="http://www.promisejs.org/implementations/q/q-0.9.6.js")
  script(src='lib/jquery.js')
  script(src='lib/geolib.js')
  script(src='lib/moment.js')
  script(src='test.js')
